.header {
    background-color: #368dcc;
    color: white;
    padding: 2rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    color: #fff;
    background-color: #769dba;
    padding: 2rem 1rem;
}

.hero h1 {
    margin-bottom: 2rem;
    font-size: 2rem;

}

.hero p {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}