.header {
    background-color: #368dcc;
    color: white;
    padding: 2rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
}